<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context" xmlns:p="http://www.springframework.org/schema/p"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
	http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd
	http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-4.0.xsd">

    <!-- 加载配置文件 -->
    <bean id="propertyResource" class="java.util.ArrayList">
        <constructor-arg>
            <list>
                <value>classpath:config.properties</value>
                <value>classpath:specialconfig.properties</value>
            </list>
        </constructor-arg>
    </bean>
    <bean id="placeholderConfig" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="locations" ref="propertyResource"/>
    </bean>
    <bean id="configProperties" class="org.springframework.beans.factory.config.PropertiesFactoryBean">
        <property name="locations" ref="propertyResource"/>
    </bean>
    <bean id="taskExecutor" class="org.springframework.scheduling.concurrent.ThreadPoolTaskExecutor">
        <property name="corePoolSize" value="50"/>
        <property name="maxPoolSize" value="100"/>
        <property name="keepAliveSeconds" value="300"/>
        <property name="waitForTasksToCompleteOnShutdown" value="true"/>
    </bean>
    <!-- 扫描包加载Service实现类 -->
    <context:component-scan base-package="cn.everythinggrows.service"></context:component-scan>
</beans>